<!doctype html>
<html class="h-full w-full">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Illuminary</title>
  </head>
  <script>
   
    let friends_list = [];
    let url = "{{url}}";
    {% for friend in friends %}
    friends_list.push("{{friend}}");
    {% endfor %}

    function make_request(idx) {
      console.log(url, friends_list[idx]);
      $.ajax({
        url: "/single",
        type: "get", 
        data: { 
          url: url,
          friend: friends_list[idx]
        },
        success: data => {
          let el = document.getElementById(`${friends_list[idx]}_score`);
          console.log(data)
          console.log(typeof data);
          let total = 0;
          for (let key in data) {
            total += data[key];
          }
          el.outerHTML = total == 0 ? "0" : `${total / data.length}`;
          if (idx + 1 < friends_list.length) {
            make_request(idx + 1);
          }
        }
      });
    }

     make_request(0);
    
      

  </script>

  <body class="flex h-full flex-row">
    <div
      class="flex h-full w-7/12 flex-col items-center justify-center bg-[#111628]">
      <div
        class="mb-3 font-['Franklin_Gothic_Medium'] text-3xl font-semibold text-[#7d8994]">
        This user received a score of 5
      </div>
      <img src="static/img/slider.png" class="h-20" />
      <div class="font=['PASTI'] text-4xl font-extrabold text-red-500">5</div>
      <div
        class="mt-2 text-center font-['Franklin_Gothic_Medium'] text-2xl font-semibold text-[#7d8994]">
        The following past was flagged as an
        <br />
        indicator of poor mental health
      </div>

      <div class="flex items-center justify-center py-8 my-4 h-1/6 w-1/2 rounded-lg bg-[#23262c] text-center font-semibold text-2l text-[#7d8994]">
        Featuring Daniel Lian, who was nice enough to add me in 
        <br/>
        his profile and posts before. Gonna miss you next year, my friend.
      </div>

      <div
        class="mt-10 flex h-16 w-1/3 text-2xl items-center justify-center rounded-3xl bg-[#303641] p-4 text-[#4e586b]">
        Send Resources
      </div>
    </div>
    <div class="h-full w-12 bg-gradient-to-b from-[#fea84e] to-[#fc6c6d]"></div>
    <div
      class="flex h-full w-5/12 flex-col items-center justify-center bg-[#303641]">
      <img src="static/img/logo_stripped.png" class="w-7/12" />
      <div class="mt-8 h-3/4 w-3/4 overflow-y-auto rounded-3xl bg-[#4e586b]">
        {% for friend in friends %}
       <div
        class="w-100% m-5 flex h-1/6 flex-row items-center rounded-2xl bg-[#23262c]">
        <div class="ml-4 mr-6 h-20 w-20 rounded-full bg-red-400"></div>
        <div class="w-100% flex flex-col">
          <div
            class="font-['Franklin_Gothic_Medium'] text-2xl font-semibold text-[#cfcfcf]">
           {{ friend }}
          </div>
          <div
            class="font-['Franklin_Gothic_Medium'] text-xl font-semibold text-[#afafaf]">
            Friend
          </div>
        </div>
        <div class="ml-auto mr-4 font=['PASTI'] text-4xl font-extrabold text-red-500">
          <div id="{{friend}}_score" role="status">
            <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
            </svg>
          
        </div>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
  </body>
</html>
